<div>
  <div>
    <h1>
      List of all messages
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new message
    </h2>

    <form action="/insert_message" method="post">
      <div>
        <label for="content_box">
          Content
        </label>

        <textarea id="content_box" name="query_content" rows="3"></textarea>
      </div>

      <div>
        <label for="photo_box">
          Photo
        </label>

        <input type="text" id="photo_box" name="query_photo">
      </div>

      <div>
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id">
      </div>

      <div>
        <label for="ticket_id_box">
          Ticket
        </label>

        <input type="text" id="ticket_id_box" name="query_ticket_id">
      </div>

      <button>
        Create message
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Content
        </th>

        <th>
          Photo
        </th>

        <th>
          Sender
        </th>

        <th>
          Ticket
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_messages.each do |a_message| %>
      <tr>
        <td>
          <%= a_message.id %>
        </td>

        <td>
          <%= a_message.content %>
        </td>

        <td>
          <%= a_message.photo %>
        </td>

        <td>
          <%= a_message.sender_id %>
        </td>

        <td>
          <%= a_message.ticket_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_message.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_message.updated_at) %> ago
        </td>

        <td>
          <a href="/messages/<%= a_message.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
