<div>
<div class="px-4 text-center">
  <div>
    <h1>
      List of all tickets
    </h1>
  </div>
</div>

<hr>

    <%= render "tickets/form" %>


      <% @list_of_tickets.each do |a_ticket| %>
      <tr>
        <td>
          <%= a_ticket.id %>
        </td>

        <td>
          <%= a_ticket.customer_id %>
        </td>

        <td>
          <%= a_ticket.vendor_id %>
        </td>

        <td>
          <%= a_ticket.details %>
        </td>

        <td>
          <%= a_ticket.photo %>
        </td>

        <td>
          <%= a_ticket.status %>
        </td>

        <td>
          <%= time_ago_in_words(a_ticket.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_ticket.updated_at) %> ago
        </td>

        <td>
          <a href="/tickets/<%= a_ticket.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  </div>
</div>
